Repository cristopher1/generator-esmodules-generator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c .eslintrc.yml --no-eslintrc --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs}": [
    "eslint -c .eslintrc.yml --no-eslintrc --fix",
    "prettier --write"
  ],
  "*.json": ["prettier --write"]
}

fix(.github/workflows/ci.yml): se crea la carpeta test-generator
  .github/workflows/ci.yml
Due: none

fix(.github/workflows/ci.yml): se usa el generator-esmodules-generator con node 18.x y 20.x
  .github/workflows/ci.yml
Due: none

fix(.github/workflow/ci.yml): se usa por node 18.17.0 para probar el generador
  .github/workflows/ci.yml
Due: none

fix(generators/app/index.js): se usa el nombre formateado del generador
  generators/app/index.js
Due: eslint -c .eslintrc.yml --no-eslintrc --fix, prettier --write

refactor(generators/app/index.js): formatGeneratorName se divide en funciones más pequeñas
  generators/app/index.js
Due: eslint -c .eslintrc.yml --no-eslintrc --fix, prettier --write

test(app.test.js): el prefijo 'generator' debe ser incluido en el nombre del describe del test
  __tests__/app.test.js
Due: eslint -c .eslintrc.yml --no-eslintrc --fix, prettier --write

refactor(generators/app/index.js): se formatea las keywords y generatorName dentro de prompting
  generators/app/index.js
Due: eslint -c .eslintrc.yml --no-eslintrc --fix, prettier --write

ci(.github/workflows/ci.yml): actualizado flujo de trabajo
  .github/workflows/ci.yml
Due: none

fix(generators/app/generator_components): se elimina mensaje asociado a generatorName
  generators/app/generator_components/PromptBuilder.js
Due: eslint -c .eslintrc.yml --no-eslintrc --fix, prettier --write

ci(.github/workflows/ci.yml): se corrige nombre de actions artifact
  .github/workflows/ci.yml
Due: none

ci(.github/workflows/ci.yml): se instalan las dependencias con npm install en create_generator job
  .github/workflows/ci.yml
Due: none

ci(.github/workflows/ci.yml): se hace lint, format y test del generador creado, en un solo paso
  .github/workflows/ci.yml
Due: none

ci(.github/workflows/ci.yml): se usa la carpeta generator_test para probar el nuevo generador creado
  .github/workflows/ci.yml
Due: none

test(app.test.js): se reemplaza withPrompts por withAnswers. Se usa un callback para activar filtros
  __tests__/app.test.js
Due: eslint -c .eslintrc.yml --no-eslintrc --fix, prettier --write

refactor(generator_components/formatter): se crean clases para formatear datos
  generators/app/generator_components/formatter/generatorNameFormatter.js
  generators/app/generator_components/formatter/keywordFormatter.js
Due: eslint -c .eslintrc.yml --no-eslintrc --fix, prettier --write

refactor(PromptBuilder.js): se inyectan formateadores como dependencias y se usan filtros
  generators/app/generator_components/PromptBuilder.js
Due: eslint -c .eslintrc.yml --no-eslintrc --fix, prettier --write

refactor(generators/app/index.js): los métodos de formateo se agregan a nuevas clases
  generators/app/index.js
Due: eslint -c .eslintrc.yml --no-eslintrc --fix, prettier --write

test(app.test.js): se agregan argumentos al generador
  __tests__/app.test.js
Due: eslint -c .eslintrc.yml --no-eslintrc --fix, prettier --write

refactor(PromptBuilder.js): se quita del prompt la pregunta generatorName
  generators/app/generator_components/PromptBuilder.js
Due: eslint -c .eslintrc.yml --no-eslintrc --fix, prettier --write

feat(generators/app/index.js): se agregan opciones y argumentos
  .github/workflows/ci.yml
  generators/app/index.js
Due: eslint -c .eslintrc.yml --no-eslintrc --fix, prettier --write

feat(generators/app/index.js): runPackageScripts también usa npm run format:fix
  generators/app/index.js
Due: eslint -c .eslintrc.yml --no-eslintrc --fix, prettier --write

ci(ci.yml): se usa generator-esmodules-generator con --runGitInit y --runPackageScripts
  .github/workflows/ci.yml
Due: none

ci(ci.yml): se cambia el comentario descriptivo del archivo
  .github/workflows/ci.yml
Due: none

ci(cd.yml): se crea un flujo de entrega continua
  .github/workflows/cd.yml
Due: none

build(package.json): se quitan scripts para lint y format en etapa build
  package.json
Due: prettier --write

build(package.json): se quita el lint y format de prebuild
  package.json
Due: prettier --write

ci(cd.yml): cambio en la configuración de CD
  .github/workflows/cd.yml
Due: none

ci(cd.yml): se arregla versión de create-release
  .github/workflows/cd.yml
Due: none

fix(generators/jest): se reemplaza withPrompts por withAnswers
  generators/jest/templates/__tests__/index.test.js
Due: eslint -c .eslintrc.yml --no-eslintrc --fix, prettier --write

ci(cd.yml): modificado el trabajo release
  .github/workflows/cd.yml
Due: none

docs(RELEASE_NOTE.md): se agregan notas para lanzamientos
  RELEASE_NOTE.md
Due: none

docs(RELEASE_NOTES.md): se agregan notas para lanzamientos
  RELEASE_NOTES.md
Due: none

ci(cd.yml): se agregan permisos y uso de RELEASE_NOTES
  .github/workflows/cd.yml
  RELEASE_NOTE.md
Due: none

ci(cd.yml): se usa GITHUB_TOKEN como variable de entorno en step create a new tag
  .github/workflows/cd.yml
Due: none

ci(cd.yml): cambio en la obtención del tag
  .github/workflows/cd.yml
Due: none

build(package.json): v1.0.0 candidato a lanzamiento
  package.json
Due: prettier --write

ci(cd.yml): uso de GITHUB_TOKEN como parametro
  .github/workflows/cd.yml
Due: none

ci(cd.yml): uso de GITHUB_TOKEN dentro de env
  .github/workflows/cd.yml
Due: none

ci(cd.yml): no se crea un nuevo tag en CD
  .github/workflows/cd.yml
Due: none

ci(cd.yml): corrección de tags
  .github/workflows/cd.yml
Due: none
