Repository cristopher1/generator-esmodules-generator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c .eslintrc.yml --no-eslintrc --fix, prettier --write

build: el generador se actualiza a versión 0.0.4
  README.md
  package.json
Due: prettier --write

build: reparado error de exportación de archivo
  README.md
  package.json
Due: prettier --write

fix(git): se usa archivo _gitignore para generar .gitignore. Para poder publicarlo en npm
  generators/git/index.js
  generators/git/templates/_gitignore
Due: eslint -c .eslintrc.yml --no-eslintrc --fix, prettier --write

build: se actualiza a versión 0.0.6
  README.md
  package.json
Due: prettier --write

build: se corrigen las exportaciones de types
  package.json
Due: prettier --write

build: se usa configuración solo para transpilar código a es6
  generators/babel/templates/babel.config.json
Due: prettier --write

build(app): se cambian los scripts para que se transpile el código a es6
  generators/app/templates/package.json
Due: prettier --write

build(app): se quita el campo engines
  generators/app/templates/package.json
Due: prettier --write

build(app): se modifica la exportación de los generadores
  generators/app/templates/package.json
Due: prettier --write

feat(subgenerator): se exporta subgenerador
  package.json
Due: prettier --write

feat(subgenerador): se permite crear subgeneradores
  generators/subgenerator/index.js
  generators/subgenerator/templates/index.js
  generators/subgenerator/templates/templates/.gitkeep
Due: eslint -c .eslintrc.yml --no-eslintrc --fix, prettier --write

feat(subgenerator): se puede exportar subgeneradores
  generators/subgenerator/index.js
Due: eslint -c .eslintrc.yml --no-eslintrc --fix, prettier --write

refactor(app): answers se usa como atributo privado
  generators/app/index.js
  generators/app/templates/generators/app/index.js
Due: eslint -c .eslintrc.yml --no-eslintrc --fix, prettier --write

build(tscongif.json): se usa rootDir
  tsconfig.json
Due: prettier --write

refactor(app): se copia todo el contenido de templates
  generators/app/index.js
Due: eslint -c .eslintrc.yml --no-eslintrc --fix, prettier --write

build(typescript): se usa rootDir y outDir .dist/types/generators
  generators/typescript/templates/tsconfig.json
Due: prettier --write

refactor(app/templates): se usa answers como atributo privado
  generators/app/templates/generators/app/index.js
Due: eslint -c .eslintrc.yml --no-eslintrc --fix, prettier --write

refactor(subgenerador): se agrega argumento subGeneradorName
  generators/subgenerator/index.js
Due: eslint -c .eslintrc.yml --no-eslintrc --fix, prettier --write

test(app): se actualizan los tests
  __tests__/app.test.js
Due: eslint -c .eslintrc.yml --no-eslintrc --fix, prettier --write

test(subgenerator): se agregan tests para el subgenerador
  __tests__/subgenerator.test.js
Due: eslint -c .eslintrc.yml --no-eslintrc --fix, prettier --write

docs: Update README.md
  README.md
Due: none

style: archivo formateado por prettier
  README.md
Due: none

build: versión 0.1.0
  package.json
Due: prettier --write

build: se quita es5 de las keywords
  package.json
Due: prettier --write

refactor(generators): se cambia la forma de copiar los archivos
  generators/app/index.js
  generators/babel/index.js
  generators/commitlint/index.js
  generators/eslint/index.js
  generators/git/index.js
  generators/husky/index.js
  generators/jest/index.js
  generators/lintstaged/index.js
  generators/prettier/index.js
  generators/subgenerator/index.js
  generators/typescript/index.js
Due: eslint -c .eslintrc.yml --no-eslintrc --fix, prettier --write

refactor(app): se copia index.js a src/index.js
  generators/app/templates/generators/app/index.js
Due: eslint -c .eslintrc.yml --no-eslintrc --fix, prettier --write

test(jest): se actualizan los tests usados en el generador creado
  generators/jest/templates/__tests__/index.test.js
Due: eslint -c .eslintrc.yml --no-eslintrc --fix, prettier --write

build: versión 0.1.1
  README.md
  package.json
Due: prettier --write

fix(generators/app/index.js): por defecto se agrega la keyword yeoman-generator
  generators/app/index.js
Due: eslint -c .eslintrc.yml --no-eslintrc --fix, prettier --write

build(generators/app/templates): el generador creado parte con versión 0.1.0
  generators/app/templates/package.json
Due: prettier --write

feat(generators/app): se revisa que el nombre del generador incluya el prefijo generator
  generators/app/generator_components/PromptBuilder.js
  generators/app/index.js
Due: eslint -c .eslintrc.yml --no-eslintrc --fix, prettier --write

build: versión 0.2.0
  package.json
Due: prettier --write

build: se actualiza el paquete a versión 0.2.0
  package-lock.json
Due: prettier --write

docs: se actualiza la versión a 0.2.0
  README.md
Due: none

test(app.test.js): se actualiza el test para package.json
  __tests__/app.test.js
Due: eslint -c .eslintrc.yml --no-eslintrc --fix, prettier --write

Update README.md
  README.md
Due: none

ci: agregado flujo de trabajo para CI
  .github/workflows/ci.yml
Due: none

test(__tests__/app.test.js): corrección de titulos de algunas pruebas unitarias
  __tests__/app.test.js
Due: eslint -c .eslintrc.yml --no-eslintrc --fix, prettier --write

ci: se prueba la creación de un nuevo generador
  .github/workflows/ci.yml
Due: none

Path conditions:
  eslint -c .eslintrc.yml --no-eslintrc --fix: any of: *.{js,mjs}
  prettier --write: (any of: *.{js,mjs}) or (any of: *.json)
