Repository cristopher1/generator-esmodules-generator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c .eslintrc.yml --no-eslintrc --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs}": [
    "eslint -c .eslintrc.yml --no-eslintrc --fix",
    "prettier --write"
  ],
  "*.json": ["prettier --write"]
}

test: se borra tests generado por yo generator
  __tests__/app.js
Due: eslint -c .eslintrc.yml --no-eslintrc --fix, prettier --write

feat(app): se agrega el generador app
  generators/app/generator_components/GeneratorProvider.js
  generators/app/generator_components/PromptBuilder.js
  generators/app/index.js
  generators/app/templates/generators/app/index.js
  generators/app/templates/generators/app/templates/index.js
  generators/app/templates/package.json
Due: eslint -c .eslintrc.yml --no-eslintrc --fix, prettier --write

feat(babel): se agrega subgenerador babel
  generators/babel/index.js
  generators/babel/templates/babel.config.json
Due: eslint -c .eslintrc.yml --no-eslintrc --fix, prettier --write

feat(commitlint): se agrega subgenerador commitlint
  generators/commitlint/index.js
  generators/commitlint/templates/commitlint.config.js
Due: eslint -c .eslintrc.yml --no-eslintrc --fix, prettier --write

feat(eslint): se agrega subgenerador eslint
  generators/eslint/index.js
  generators/eslint/templates/.eslintignore
  generators/eslint/templates/.eslintrc.yml
Due: eslint -c .eslintrc.yml --no-eslintrc --fix, prettier --write

feat(git): se agrega subgenerador git
  generators/git/index.js
  generators/git/templates/.gitignore
Due: eslint -c .eslintrc.yml --no-eslintrc --fix, prettier --write

feat(husky): se agrega subgenerador husky
  generators/husky/index.js
  generators/husky/templates/commit-msg
  generators/husky/templates/pre-commit
  generators/husky/templates/pre-push
Due: eslint -c .eslintrc.yml --no-eslintrc --fix, prettier --write

feat(jest): se agrega subgenerador jest
  generators/jest/index.js
  generators/jest/templates/__tests__/helpers/index.js
  generators/jest/templates/__tests__/index.test.js
  generators/jest/templates/jest.config.js
Due: eslint -c .eslintrc.yml --no-eslintrc --fix, prettier --write

feat(lintstaged): se agrega subgenerador lintstaged
  generators/lintstaged/index.js
  generators/lintstaged/templates/.lintstagedrc.json
Due: eslint -c .eslintrc.yml --no-eslintrc --fix, prettier --write

feat(prettier): se agrega subgenerador prettier
  generators/prettier/index.js
  generators/prettier/templates/.prettierignore
  generators/prettier/templates/.prettierrc.json
Due: eslint -c .eslintrc.yml --no-eslintrc --fix, prettier --write

feat(rolup): se agrega subgenerador rollup
  generators/rollup/index.js
  generators/rollup/templates/rollup.config.js
Due: eslint -c .eslintrc.yml --no-eslintrc --fix, prettier --write

feat(typescript): se agrega subgenerador typescript
  generators/typescript/index.js
  generators/typescript/templates/tsconfig.json
Due: eslint -c .eslintrc.yml --no-eslintrc --fix, prettier --write

fix(jest): no se escapa generatorName
  generators/jest/templates/__tests__/index.test.js
Due: eslint -c .eslintrc.yml --no-eslintrc --fix, prettier --write

test(app.test.js): se agregan los tests
  __tests__/app.test.js
Due: eslint -c .eslintrc.yml --no-eslintrc --fix, prettier --write

docs: agregado readme
  README.md
Due: none

style(docs): archivo formateado por prettier
  README.md
Due: none

build(tsc): se elimina geenrators/**/generator_components de exclude
  tsconfig.json
Due: prettier --write

build(package.json): se importa condicionalmente app generator
  package.json
Due: prettier --write

build(tsc): se saca el generators/**/generator_components
  tsconfig.json
Due: prettier --write

build: actualizando la importación de package.json
  generators/app/templates/package.json
Due: prettier --write

docs: Update README.md
  README.md
Due: none

feat(rollup): se usa babel sin rollup para transpilar los archivos
  __tests__/app.test.js
  generators/app/generator_components/GeneratorProvider.js
  generators/app/index.js
  generators/rollup/index.js
  generators/rollup/templates/rollup.config.js
Due: eslint -c .eslintrc.yml --no-eslintrc --fix, prettier --write

build: se borra script build:clean-dist-tmp
  package.json
Due: prettier --write

build: se corrigen las extensiones de los archivos exportados
  package.json
Due: prettier --write

build: se quitan las extensiones de los archivos generados por babel. Se corrigen los archivos exportados
  package.json
Due: prettier --write

fix(app): se corrige el nombre del generador
  generators/app/index.js
Due: eslint -c .eslintrc.yml --no-eslintrc --fix, prettier --write

fix(app): se corrige el nombre del generador creado
  generators/app/index.js
  generators/app/templates/generators/app/index.js
Due: eslint -c .eslintrc.yml --no-eslintrc --fix, prettier --write

build: versión 0.0.1
  package.json
Due: prettier --write

fix(app): se copia el archivo package.json
  generators/app/index.js
Due: eslint -c .eslintrc.yml --no-eslintrc --fix, prettier --write

build: se corrige campos main y types
  package.json
Due: prettier --write

build: se actualiza a versión 0.0.2
  package.json
Due: prettier --write

build: actualización
  package.json
Due: prettier --write

build: se exporta el archivo desde la carpeta esm en el campo main
  package.json
Due: prettier --write

build: se quita rollup de las keywords
  package.json
Due: prettier --write

docs: se actualiza versión del proyecto
  README.md
Due: none

build: no se transpila el código a es5, ya que este generador crea generadores basados en esmodules
  babel.config.json
  package.json
Due: prettier --write

build: se quita engines
  package.json
Due: prettier --write

build: cambio de rutas de exportación
  package.json
Due: prettier --write
