Repository cristopher1/generator-esmodules-generator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c .eslintrc.yml --no-eslintrc --fix, prettier --write

docs(RELEASE_NOTES.md): notas de lanzamiento actualizadas
  RELEASE_NOTES.md
Due: none

style: archivo formateado por prettier
  RELEASE_NOTES.md
Due: none

Update RELEASE_NOTES.md
  RELEASE_NOTES.md
Due: none

ci(cd.yml): se agrega publicación de paquete npm automática
  .github/workflows/cd.yml
Due: none

ci(cd.yml): uso de nombres decriptivos en CD
  .github/workflows/cd.yml
Due: none

test(app.test.js): se agrega respuesta a la pregunta includeLicense
  __tests__/app.test.js
Due: eslint -c .eslintrc.yml --no-eslintrc --fix, prettier --write

test(app.test.js): se cambia el uso de generatorWebSite por generatorHomePageUrl
  __tests__/app.test.js
Due: eslint -c .eslintrc.yml --no-eslintrc --fix, prettier --write

fix(PrompBuilder.js): se quita la pregunta asociada a generatorWebSite
  generators/app/generator_components/PromptBuilder.js
Due: eslint -c .eslintrc.yml --no-eslintrc --fix, prettier --write

fix(generators/app/index.js): se quita la variable generatorWebSite
  generators/app/index.js
Due: eslint -c .eslintrc.yml --no-eslintrc --fix, prettier --write

Update README.md
  README.md
Due: none

ci(cd.yml): se quita la palabra Release de release_name
  .github/workflows/cd.yml
Due: none

docs(RELEASE_NOTES): cambio en RELEASE_NOTES
  RELEASE_NOTES.md
Due: none

style: archivo formateado por prettier
  README.md
Due: none

build(v1.0.0): se actualiza a la versión 1.0.0
  README.md
  package.json
Due: prettier --write

docs(README.md): se corrige README
  README.md
Due: none

ci(ci.yml): uso de integración continua para la rama master
  .github/workflows/ci.yml
Due: none

ci(ci.yml): uso de integración continua para rama main
  .github/workflows/ci.yml
Due: none

ci(ci.yml): uso de CI para pull_request
  .github/workflows/ci.yml
Due: none

fix(generators/app/index.js): se corrige problema al crear la licencia desde el prompt
  generators/app/index.js
Due: eslint -c .eslintrc.yml --no-eslintrc --fix, prettier --write

docs: se actualiza la documentación
  README.md
  RELEASE_NOTES.md
Due: none

build(package-lock.json): se actualizan los paquetes usados por generator-esmodules-generator
  package-lock.json
Due: prettier --write

ci: se usa npm audit para flujo de CI y CD
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

ci(ci.yml): se activa CI para push en las ramas development y main
  .github/workflows/ci.yml
Due: none

build: se actualiza a la versión 1.0.1
  README.md
  package.json
Due: prettier --write

ci: se quita pull request de main y se usa audit al crear generador
  .github/workflows/ci.yml
Due: none

fix(generators/app): se corrige problema que podia causar fallas en la copia de archivos
  generators/app/generator_components/GeneratorProvider.js
  generators/app/index.js
Due: eslint -c .eslintrc.yml --no-eslintrc --fix, prettier --write

docs: nueva nota de lanzamiento
  RELEASE_NOTES.md
Due: none

build: se crea la versión 1.0.2
  README.md
  package-lock.json
  package.json
Due: prettier --write

fix(generators/app): se corrige un problema al usar path.resolve en windows
  generators/app/generator_components/GeneratorProvider.js
  generators/app/index.js
Due: eslint -c .eslintrc.yml --no-eslintrc --fix, prettier --write

docs: actualización de las notas de lanzamiento
  RELEASE_NOTES.md
Due: none

docs: se actualiza a versión 1.0.3
  README.md
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  eslint -c .eslintrc.yml --no-eslintrc --fix: any of: *.{js,mjs}
  prettier --write: (any of: *.{js,mjs}) or (any of: *.json)
